
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="app-vue">
        {% block content %} Loading content...{% endblock %}   
        </div>     
    </body>
    <script src="main.js" defer></script>
</html>

